* {
  font-family:Georgia, serif;
  font-size: 30px;
  text-align: center;
}
header, nav, section, article, footer {
  padding: 15px 70px ;
}

header {
  background-color: #lightpink;
}
nav {
  background-color: #F30050;box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 border-radius: 4px
}
section {
  background-color: #black;
}

article {
  background-color:#F50050;
  margin: 20px;padding: 30px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 border-radius: 4px;
 
}
footer {
  background-color: #darkviolet;
  padding: 50px;
}
img { width:250px;
	border-radius: 100%;
}
p{
	color:  #lightpink;
}
h1{
  colour: #lightpink;
}
h2{
	color:  #lightpink;
}
h3{
	color:  #lightpink;
}
h4{
	color:  #lightpink;
}
h5{
	color:  #lightpink;
}

a {color:#F50050 ; font-weight: 300; font-size: 60px;
}